body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

.input-container {
    position: relative;
    margin-bottom: 12px;
}

input {
    padding: 10px;
    padding-right: 5px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-family: 'Times New Roman', Times, serif;
    width: 95%;
    height: 3vh;
    outline: none;
    margin-bottom: 12px;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #555;
}

.message {
    font-size: 13px;
    color: #888;
    margin-top: -8px;
    margin-bottom: 10px;
}

.error {
    color: red;
}

.valid {
    color: green;
}

button {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    transition: all 0.35s;
    height: 7vh;
}

button:hover {
    background-color: #0056b3;
}

#register_user {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#register_user a{
    text-decoration: none;
    color: inherit;
}