<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>User Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename="css/login.css") }}">

    <script
      src="https://kit.fontawesome.com/yourkitid.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>
  <body>
    <form id="loginForm" action="/login" method="POST">
      <h2>Login</h2>

      <label for="username">Username:</label>
      <div class="input-container">
        <input type="text" name="username" id="username" required />
      </div>
      <div id="usernameMsg" class="message"></div>

      <label for="password">Password:</label>
      <div class="input-container">
        <input type="password" name="password" id="password" required />
        <i class="fa-solid fa-eye-slash eye-icon" id="togglePassword"></i>
      </div>
      <div id="passwordMsg" class="message"></div>

      <button type="submit">Login</button>
    </form>

    <script src="{{url_for('static', filename="js/login.js")}}"></script>
  </body>
</html>
