{% extends "base.html" %}

{% block title %} Projects {% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/manage_deadline.css') }}">
{% endblock styles %}

{% block content %}
<h3>My Deadlines</h3>
<ul>
  {% for d in deadlines %}
    <li>
      📌 <b>{{ d.type }}</b> - {{ d.title }}  
      ⏰ Due: {{ d.due.strftime("%d %b %Y, %I:%M %p") }}  
      🔔 Notify: {{ d.notify_before }} hrs before
    </li>
  {% else %}
    <li>No deadlines yet.</li>
  {% endfor %}
</ul>
{% endblock content %}